<section id="about">
  <h1><strong>about</strong>me.</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis rutrum mauris, in eleifend neque. Sed faucibus enim at tortor fermentum, a vehicula justo fringilla. Nunc non consequat tellus, sed ullamcorper turpis. Mauris eu lobortis metus. Mauris faucibus elit ac justo aliquet, quis interdum enim pulvinar. Curabitur sed justo ac lectus tristique convallis. Sed blandit dolor risus, eget faucibus elit bibendum nec. Nulla a pellentesque justo.</p>

  <p>Integer at lectus ac ipsum accumsan bibendum ac a risus. Praesent facilisis nibh vitae velit aliquet, quis sodales sem dignissim. Donec scelerisque est id eros commodo, eget tincidunt turpis congue. Mauris interdum pellentesque viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque luctus lorem sed justo vehicula, eget bibendum urna pulvinar. Suspendisse volutpat diam vitae felis commodo, in dictum lorem cursus.</p>

  <p>Donec egestas lacus ut odio sollicitudin, ut euismod sapien congue. Proin porta mollis neque, eget gravida elit porta eu. Morbi sed dui et est congue dignissim. Vestibulum in sapien a ante viverra euismod. Nam a ante id ligula posuere sagittis. Etiam nisi dolor, semper sed ante in, gravida consequat nunc. Nunc dictum felis at pulvinar congue. Curabitur nec orci quis quam faucibus aliquam. Praesent tempor ac nunc nec blandit. Nulla a urna non lacus mattis fringilla. Donec tincidunt scelerisque magna. Sed mauris magna, sagittis a dignissim a, ornare id dui. Cras mollis tellus eget risus mattis egestas. Maecenas fringilla quam ac tempus pellentesque. Nulla ullamcorper adipiscing mattis.</p>
</section>

<section id="projects">
  <h1><strong>my</strong>projects.</h1>
    <br>
    <div class="row">
      <!-- project divs hover fade to opacity and project name -->
      <div id="project-container" class="col-md-4">
        <h2>Project</h2>
      </div>
      
      <div id="project-container" class="col-md-4">
        <h2>Project</h2>
      </div>
      
      <div id="project-container" class="col-md-4">
        <h2>Project</h2>
      </div>

      <div id="project-container" class="col-md-4">
        <h2>Project</h2>
      </div>
      
      <div id="project-container" class="col-md-4">
        <h2>Project</h2>
      </div>
      
      <div id="project-container" class="col-md-4">
        <h2>Project</h2>
      </div>

      <div id="project-container" class="col-md-4">
        <h2>Project</h2>
      </div>
      
      <div id="project-container" class="col-md-4">
        <h2>Project</h2>
      </div>
      
      <div id="project-container" class="col-md-4">
        <h2>Project</h2>
      </div>
    </div>
</section>

<section id="contact">
  <h1><strong>contact</strong>me.</h1>
  <br>
  <center>
    <div class="row">
      <div id="contact-div" align="center">
        <i class="fa fa-envelope-o fa-5x"></i>
      </div>
      <div id="contact-div" align="center">
        <i class="fa fa-file-text-o fa-5x"></i>
      </div>
      <div id="contact-div" align="center">
        <i class="fa fa-github-square fa-5x"></i>
      </div>
      <div id="contact-div" align="center">
        <i class="fa fa-linkedin fa-5x"></i>
      </div>
      <div id="contact-div" align="center">
        <i class="fa fa-twitter fa-5x"></i>
      </div>
    </div>
  </center>
</section>