<section id="about">
  <h1><strong>about</strong>me.</h1>
  <!-- <br> -->
  <!-- <h3 id="tagline" align="center"><i class="fa fa-terminal fa-lg"></i> a <strong>software developer</strong> based in <strong>San Francisco</strong>.</h3> -->
  
  <br>
  
  <div id="about-pic-words">
    
    <div class="clearfix" align="center">
      <img src="assets/about-words.png" id="img-aboutwords" alt="about" width="90%">
    </div>
    
    <div id="about-photo">
      <img src="assets/photo-1b.png" alt="Photo" class="img-rounded about-img" width="20%" align="left">
    </div>
    
    <div id="about-taglines">
      <h3 id="tagline"><i class="fa fa-terminal fa-lg"></i> <strong>software developer</strong> in the <strong>San Francisco</strong> bay area.</h3>
      <h3 id="tagline"><i class="fa fa-terminal fa-lg"></i> graduated from <strong>Stanford</strong>, Class of 2013. Go Card!</h3>
      <h3 id="tagline"><i class="fa fa-terminal fa-lg"></i> high-achieving & goal-oriented with an intuitive eye for design</h3>
    </div>
  
    <!-- <img src="assets/photo-1b.png" alt="Photo" class="img-rounded about-img" width="28%" align="left">
    
    <h3 id="tagline"><i class="fa fa-terminal fa-lg"></i> <strong>software developer</strong> in the <strong>San Francisco</strong> bay area.</h3>
    <h3 id="tagline"><i class="fa fa-terminal fa-lg"></i> graduated from <strong>Stanford</strong>, Class of 2013. Go Card!</h3>
    <h3 id="tagline"><i class="fa fa-terminal fa-lg"></i> high-achieving & goal-oriented with an intuitive eye for design</h3>
    
    <img src="assets/about-words.png" id="img-aboutwords" alt="about" width="70%"> -->
  </div>

  <!-- <div class="row clearfix">
    <div id="photo" class="col-md-4" align="left">
      <img src="assets/IMG_9335.JPG" alt="Photo" class="img-rounded">
    </div>
  
    <div id="about-words" class="col-md-7" align="right">
      <img src="assets/about-words.png" alt="about">
    </div>
  </div> -->
</section>

<section id="about-content">
  <div class="row">
    <div id="specialties" class="col-md-6">
      <h1 align="center"><i class="fa fa-code"></i><br>specialties</h1>
      <h3 align="center">Ruby, Rails, JavaScript, Backbone, jQuery, SQL, CSS, HTML</h3>
      <h4 align="center">&& Python, R, C++, Java</h4>
    </div>
    
      <!-- <h2><i class="fa fa-magic"></i> Other skills</h2>
      <h3>Python, R, Git, C++, Java, Design, Photoshop, Lightroom</h3>
      <br>
      <h3><i class="fa fa-lightbulb-o"></i> Scientific stuff: Immunofluorescence, in vitro fertilization, mouse handling and surgery, cell culture (incl. stem cells), molecular biology techniques</h3>
    
      <br> -->
    <!-- <div class="col-md-2"></div> -->

    <div id="interests" class="col-md-6">
      <h1 align="center"><i class="fa fa-star-o"></i><br>interests</h1>
      <h3 align="center"><span id="interest-pair"><i class="fa fa-camera"></i> photography</span>, <span id="interest-pair"><i class="fa fa-cutlery"></i> cooking</span>, <span id="interest-pair"><i class="fa fa-desktop"></i> tech</span>, <span id="interest-pair"><i class="fa fa-fire"></i> science</span>, <span id="interest-pair"><i class="fa fa-stethoscope"></i> medicine</span>, <span id="interest-pair"><i class="fa fa-eye"></i> design</span>, <span id="interest-pair"><i class="fa fa-film"></i> movies</span>, <span id="interest-pair"><i class="fa fa-sun-o"></i> hiking</span>, <span id="interest-pair"><i class="fa fa-globe"></i> traveling</span></h3>
    </div>
  </div>
</section>

<section id="portfolio">
  <h1 id="sec-header-move"><strong>my</strong>portfolio[<strong><i class="fa fa-code"></i></strong>].</h1>
  <br>
  <div class="row">
    <div id="project-container" class="col-md-4 cpp">
      <a href="http://cpp.gracedo.com">
        <span class="text-content"><span>
          <h2><strong>Closet++</strong></h2>
          <i class="fa fa-search fa-2x"></i>
          <br><br>
          <h4>Mockup of a clothing subscription web-app for guys. Features ability to set measurement/style preferences and purchase items from an inventory.</h4>
          <br><br>
          <h5>Ruby on Rails, Backbone, JavaScript, jQuery, CSS3, HTML5</h5>
        </span></span>
      </a>
    </div>
    
    <div id="project-container" class="col-md-4 tj">
      <a href="http://trellojello.gracedo.com">
        <span class="text-content"><span>
          <h2><strong>Trellojello</strong></h2>
          <i class="fa fa-search fa-2x"></i>
          <br><br>
          <h4>Single-page web-app clone of Trello (task tracker/organization app). Features boards (with members), lists and cards with creation/deletion/edit/re-ordering functionality.</h4>
          <br><br>
          <h5>Ruby on Rails, Backbone, JavaScript, jQuery, CSS3, HTML5</h5>
        </span></span>
      </a>
    </div>
    
    <div id="project-container" class="col-md-4 ast">
      <a href="http://asteroids.gracedo.com">
        <span class="text-content"><span>
          <h2><strong>Asteroids</strong></h2>
          <i class="fa fa-search fa-2x"></i>
          <br><br>
          <h4>In-browser classic arcade Asteroids game! Keeps count of how many asteroids destroyed.</h4>
          <br><br>
          <h5>JavaScript</h5>
        </span></span>
      </a>
    </div>

    <div id="project-container" class="col-md-4 toh">
      <a href="http://htmlpreview.github.io/?https://github.com/gracedo/Towers-of-Hanoi/blob/master/index.html">
        <span class="text-content"><span>
          <h2><strong>Towers of Hanoi</strong></h2>
          <i class="fa fa-search fa-2x"></i>
          <br><br>
          <h4>In-browser Towers of Hanoi game! Keeps count of turns taken.</h4>
          <br><br>
          <h5>JavaScript, CSS3. HTML5</h5>
        </span></span>
      </a>
    </div>
    
    <div id="project-container" class="col-md-4 ttt">
      <a href="http://htmlpreview.github.io/?https://github.com/gracedo/Tic-Tac-Toe/blob/master/index.html">
        <span class="text-content"><span>
          <h2><strong>Tic-Tac-Toe</strong></h2>
          <i class="fa fa-search fa-2x"></i>
          <br><br>
          <h4>In-browser Tic-Tac-Toe game! Keeps count of each player's score.</h4>
          <br><br>
          <h5>JavaScript, CSS3, HTML5</h5>
        </span></span>
      </a>
    </div>
    
    <div id="project-container" class="col-md-4 icf">
      <a href="https://github.com/gracedo/Ice-cream-finder">
        <span class="text-content"><span>
          <h2><strong>Ice Cream Finder</strong></h2>
          <i class="fa fa-search fa-2x"></i>
          <br><br>
          <h4>A CLI script which takes in the user's current location and finds nearby ice-cream shops.</h4>
          <br><br>
          <h5>Ruby, APIs</h5>
        </span></span>
      </a>
    </div>

    <div id="project-container" class="col-md-4 chess">
      <a href="https://github.com/gracedo/Chess">
        <span class="text-content"><span>
          <h2><strong>Chess</strong></h2>
          <i class="fa fa-search fa-2x"></i>
          <br><br>
          <h4>CLI chess game: 2-player, 1-player vs. AI, or AI vs. AI! The AI player plays with a very brute-force approach.</h4>
          <br><br>
          <h5>Ruby</h5>
        </span></span>
      </a>
    </div>
    
    <div id="project-container" class="col-md-4 checkers">
      <a href="https://github.com/gracedo/Checkers">
        <span class="text-content"><span>
          <h2><strong>Checkers</strong></h2>
          <i class="fa fa-search fa-2x"></i>
          <br><br>
          <h4>CLI checkers game!</h4>
          <br><br>
          <h5>Ruby</h5>
        </span></span>
      </a>
    </div>
    
    <div id="project-container" class="col-md-4 boggle">
      <a href="https://github.com/gracedo/boggle">
        <span class="text-content"><span>
          <h2><strong>Boggle</strong></h2>
          <i class="fa fa-search fa-2x"></i>
          <br><br>
          <h4>Implements the game of Boggle with a human player playing against a computer player (using two different recursive algorithms to find possible words on the board).</h4>
          <br><br>
          <h5>C++</h5>
        </span></span>
      </a>
    </div>
    
    <div id="project-container" class="col-md-4 path">
      <a href="https://github.com/gracedo/pathfinder">
        <span class="text-content"><span>
          <h2><strong>Pathfinder</strong></h2>
          <i class="fa fa-search fa-2x"></i>
          <br><br>
          <h4>Implements Dijkstra’s algorithm (optimal search path) and Kruskal’s algorithm (minimal spanning tree) to draw a graph between two locations using recursive strategies. Extensively uses ADTs such as graphs and priority queues.</h4>
          <br><br>
          <h5>C++</h5>
        </span></span>
      </a>
    </div>
    
    <div id="project-container" class="col-md-4 huffman">
      <a href="https://github.com/gracedo/Huffman-encoding">
        <span class="text-content"><span>
          <h2><strong>Huffman Encoding</strong></h2>
          <i class="fa fa-search fa-2x"></i>
          <br><br>
          <h4>Uses the Huffman encoding algorithm to compress and decompress any file type.</h4>
          <br><br>
          <h5>C++</h5>
        </span></span>
      </a>
    </div>
    
    <div id="project-container" class="col-md-4 this-website">
      <a href="http://gracedo.com">
        <span class="text-content"><span>
          <h2><strong>This website!<br>Wow. So meta.</strong></h2>
          <i class="fa fa-search fa-2x"></i>
          <br><br>
          <h5>Ruby, Rails, JavaScript, jQuery, CSS3, HTML5</h5>
        </span></span>
      </a>
    </div>
  </div>
  
  <br>
  
  <div class="col-md-10 col-md-offset-1">
    <h2><i class="fa fa-ellipsis-h"></i> find more at <a href="http://github.com/gracedo"><i class="fa fa-github-square"></i> my github</a>!</h2>
  </div>
  
  <br><br><br><br>
  
  <h2 id="portfolio"><strong>my</strong>portfolio[<strong><i class="fa fa-star-o"></i></strong>].</h2>
  <br>
  <div class="row">
    <div id="project-container" class="col-md-4 bookcover">
        <a href="http://www.equaljusticeworks.org/ed-debt/ebook">
          <span class="text-content"><span>
            <h2><strong>Book Cover Photo</strong></h2>
            <i class="fa fa-search fa-2x"></i>
            <br><br>
            <h4>Photo <i>Stanford Grads</i> license purchased by Equal Justice Works for use in cover art for its publication, <i>Take Control of Your Future</i>, and advertising and promotional campaigns related to this publication</h4>
            <br><br>
            <h5>Digital photography</h5>
          </span></span>
        </a>
      </div>
    
      <div id="project-container" class="col-md-4 dv8flyers">
        <a href="assets/dv8flyers.jpg">
          <span class="text-content"><span>
            <h2><strong>Flyers for Stanford DV8 Hip Hop Dance</strong></h2>
            <i class="fa fa-search fa-2x"></i>
            <br><br>
            <h4>Designed recruitment and dance show flyers for Stanford DV8 Hip Hop Dance club.</h4>
            <br><br>
            <h5>Photoshop, flyer-design, digital editing</h5>
          </span></span>
        </a>
      </div>
    
      <div id="project-container" class="col-md-4 small-pub">
        <a href="http://www.ncbi.nlm.nih.gov/pubmed/24376186">
          <span class="text-content"><span>
            <h2><strong>Manuscript published to <i>Small</i> (2013)</strong></h2>
            <i class="fa fa-search fa-2x"></i>
            <br><br>
            <h4>"Graphite Oxide Nanoparticles with Diameter Greater than 20 nm Are Biocompatible with Mouse Embryonic Stem Cells and Can Be Used in a Tissue Engineering System"</h4>
            <br><br>
            <h5>Scientific research: stem cells, nanotechnology, biomaterials</h5>
          </span></span>
        </a>
      </div>
    </div>
</section>

<section id="hireme">
  <h1 align="center" id="hireme-text"><i class="fa fa-hand-o-right"></i> <strong>hire</strong>me!</h1>
</section>

<section id="contact">
  <h1><strong>contact</strong>me.</h1>
  <br><br>
  <center>
    <div class="row">
      <div id="contact-div" align="center">
        <a href="mailto:grace.y.do@gmail.com" data-toggle="tooltip" data-placement="right" title="<strong>email</strong>" data-html="true"><i class="fa fa-envelope-o fa-5x"></i></a>
      </div>
      <div id="contact-div" align="center">
        <a href="#" data-toggle="tooltip" data-placement="right" title="<strong>resume</strong>" data-html="true"><i class="fa fa-file-text-o fa-5x"></i></a>
      </div>
      <div id="contact-div" align="center">
        <a href="http://github.com/gracedo" data-toggle="tooltip" data-placement="right" title="<strong>github</strong>" data-html="true"><i class="fa fa-github-square fa-5x"></i></a>
      </div>
      <div id="contact-div" align="center">
        <a href="http://linkedin.com/in/gracedo" data-toggle="tooltip" data-placement="right" title="<strong>linkedin</strong>" data-html="true"><i class="fa fa-linkedin fa-5x"></i></a>
      </div>
      <div id="contact-div" align="center">
        <a href="http://twitter.com/do_grace" data-toggle="tooltip" data-placement="right" title="<strong>twitter</strong>" data-html="true"><i class="fa fa-twitter fa-5x"></i></a>
      </div>
    </div>
  </center>
</section>