<section id="about">
  <h1 id="sec-header-move"><strong>about</strong>me.</h1>
  

  <div id="about-words-trigger"></div>
  
  <div id="about-words">
    Idealist. Designer. Photographer. Explorer. Developer. Scientist. Thinker. Programmer. Reader. Foodie. Traveler. Researcher.
  </div>
  
  <div id="photo">
    <img src="assets/IMG_9335.JPG" alt="Photo" class="img-rounded" width="400px">
  </div>
  
  <div id="about-content">
    <h2 id="sec-header-move"><strong>Specialties</strong></h2>
    <h3>Ruby, Rails, JavaScript, Backbone, jQuery, SQL, CSS, HTML</h3>
    
    <br>
    
    <h2><strong>Other skills</strong></h2>
    <h3>Python, R, Git, C++, Java, Photoshop, Lightroom</h3>
    <h3><strong>Scientific skillset</strong>: Immunofluorescence, in vitro fertilization, mouse handling and surgery, cell culture (incl. stem cells), molecular biology techniques</h3>
    
    <br>

    <h2><strong>Interests & Hobbies</strong></h2>
    <h4>Photography, Cooking, Design, Movies & TV shows, Hiking, Traveling</h4>
  </div>
</section>

<section id="portfolio">
  <h1 id="sec-header-move"><strong>my</strong>portfolio.</h1>
    <br>
    <div class="row">
      <!-- project divs hover fade to opacity and project name -->
      <div id="project-container" class="col-md-4 cpp">
        <a href="http://cpp.gracedo.com">
          <span class="text-content"><span>
            <h2><strong>Closet++</strong></h2>
            <i class="fa fa-search fa-2x"></i>
          </span></span>
        </a>
      </div>
      
      <div id="project-container" class="col-md-4 tj">
        <a href="http://trellojello.gracedo.com">
          <span class="text-content"><span>
            <h2><strong>Trellojello</strong></h2>
            <i class="fa fa-search fa-2x"></i>
          </span></span>
        </a>
      </div>
      
      <div id="project-container" class="col-md-4 ast">
        <a href="http://asteroids.gracedo.com">
          <span class="text-content"><span>
            <h2><strong>Asteroids</strong></h2>
            <i class="fa fa-search fa-2x"></i>
          </span></span>
        </a>
      </div>

      <div id="project-container" class="col-md-4 toh">
        <a href="http://htmlpreview.github.io/?https://github.com/gracedo/Towers-of-Hanoi/blob/master/index.html">
          <span class="text-content"><span>
            <h2><strong>Towers of Hanoi</strong></h2>
            <i class="fa fa-search fa-2x"></i>
          </span></span>
        </a>
      </div>
      
      <div id="project-container" class="col-md-4 ttt">
        <a href="http://htmlpreview.github.io/?https://github.com/gracedo/Tic-Tac-Toe/blob/master/index.html">
          <span class="text-content"><span>
            <h2><strong>Tic-Tac-Toe</strong></h2>
            <i class="fa fa-search fa-2x"></i>
          </span></span>
        </a>
      </div>
      
      <div id="project-container" class="col-md-4 icf">
        <a href="https://github.com/gracedo/Ice-cream-finder">
          <span class="text-content"><span>
            <h2><strong>Ice Cream Finder</strong></h2>
            <i class="fa fa-search fa-2x"></i>
          </span></span>
        </a>
      </div>

      <div id="project-container" class="col-md-4 chess">
        <a href="https://github.com/gracedo/Chess">
          <span class="text-content"><span>
            <h2><strong>Chess</strong></h2>
            <i class="fa fa-search fa-2x"></i>
          </span></span>
        </a>
      </div>
      
      <div id="project-container" class="col-md-4 checkers">
        <a href="https://github.com/gracedo/Checkers">
          <span class="text-content"><span>
            <h2><strong>Checkers</strong></h2>
            <i class="fa fa-search fa-2x"></i>
          </span></span>
        </a>
      </div>
      
      <div id="project-container" class="col-md-4 boggle">
        <a href="https://github.com/gracedo/boggle">
          <span class="text-content"><span>
            <h2><strong>Boggle</strong></h2>
            <i class="fa fa-search fa-2x"></i>
          </span></span>
        </a>
      </div>
      
      <div id="project-container" class="col-md-4 path">
        <a href="https://github.com/gracedo/pathfinder">
          <span class="text-content"><span>
            <h2><strong>Pathfinder</strong></h2>
            <i class="fa fa-search fa-2x"></i>
          </span></span>
        </a>
      </div>
      
      <div id="project-container" class="col-md-4 huffman">
        <a href="https://github.com/gracedo/Huffman-encoding">
          <span class="text-content"><span>
            <h2><strong>Huffman Encoding</strong></h2>
            <i class="fa fa-search fa-2x"></i>
          </span></span>
        </a>
      </div>
      
      <div id="project-container" class="col-md-4 this-website">
        <a href="http://gracedo.com">
          <span class="text-content"><span>
            <h2><strong>This website!<br>Wow. So meta.</strong></h2>
            <i class="fa fa-search fa-2x"></i>
          </span></span>
        </a>
      </div>
    </div>
</section>

<section id="hireme">
  <h1 align="center" id="hireme-text"><i class="fa fa-hand-o-right"></i> <strong>hire</strong>me!</h1>
</section>

<section id="contact">
  <h1><strong>contact</strong>me.</h1>
  <br><br>
  <center>
    <div class="row">
      <div id="contact-div" align="center">
        <a href="mailto:grace.y.do@gmail.com" data-toggle="tooltip" data-placement="right" title="<strong>email</strong>" data-html="true"><i class="fa fa-envelope-o fa-5x"></i></a>
      </div>
      <div id="contact-div" align="center">
        <a href="#" data-toggle="tooltip" data-placement="right" title="<strong>resume</strong>" data-html="true"><i class="fa fa-file-text-o fa-5x"></i></a>
      </div>
      <div id="contact-div" align="center">
        <a href="http://github.com/gracedo" data-toggle="tooltip" data-placement="right" title="<strong>github</strong>" data-html="true"><i class="fa fa-github-square fa-5x"></i></a>
      </div>
      <div id="contact-div" align="center">
        <a href="http://linkedin.com/in/gracedo" data-toggle="tooltip" data-placement="right" title="<strong>linkedin</strong>" data-html="true"><i class="fa fa-linkedin fa-5x"></i></a>
      </div>
      <div id="contact-div" align="center">
        <a href="http://twitter.com/do_grace" data-toggle="tooltip" data-placement="right" title="<strong>twitter</strong>" data-html="true"><i class="fa fa-twitter fa-5x"></i></a>
      </div>
    </div>
  </center>
</section>