/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require jquery.ui.all
 *= require_self
 *= require_tree .
 */

$navbar-height: 200px;
//$navbar-default-bg: #F0F0F0;
$navbar-default-brand-hover-color: #ffffff;
//$navbar-default-bg: rgba(255, 255, 255, 0.3);
$navbar-default-bg: #88BD9B;
$navbar-default-link-hover-bg: transparent;
$navbar-default-color: #ffffff;
$navbar-default-link-color: #ffffff;
$navbar-default-link-hover-color: #ffffff;

@import "bootstrap";

body {
  padding: $navbar-height;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #63A57B;
  color: #ffffff;
}

.navbar {
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-brand {
  font-size: 72px;
  font-weight: 200;
}

.navbar-brand strong {
  font-weight: 500;
}

a.navlink:hover {
  font-weight: bold;
}