/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require jquery.ui.all
 *= require_self
 *= require_tree .
 */

$navbar-height: 120px;
//$navbar-default-bg: #F0F0F0;
$navbar-default-brand-hover-color: #000000;
//$navbar-default-bg: rgba(255, 255, 255, 0.3);
$navbar-default-border: rgba(255, 255, 255, 0.3);
//$navbar-default-border: rgba(0, 0, 0, 0.3);
$navbar-default-bg: rgba(232, 232, 232, 0.8);
//$navbar-default-bg: rgba(94, 171, 181, 0.8);
//$navbar-default-bg: rgba(143, 199, 163, 0.8);
$navbar-default-link-hover-bg: transparent;
$navbar-default-color: #000000;
$navbar-default-link-color: #000000;
$navbar-default-link-hover-color: #000000;

@import "bootstrap";

body {
  opacity: 0;
  margin: 0;
  padding: 0;
  padding-top: $navbar-height;
  font-family: AvenirNextRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  background-color: #E8E8E8;
//  background-color: rgba(143, 199, 163, 1);
  color: #ffffff;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

h1 {
  font-size: 64px;
}

.navbar {
  padding-left: 10%;
  padding-right: 10%;
  -webkit-box-shadow: 0px 3px 56px -14px rgba(0,0,0,1);
  -moz-box-shadow: 0px 3px 56px -14px rgba(0,0,0,1);
  box-shadow: 0px 3px 56px -14px rgba(0,0,0,1);
//  background-size: cover !important;

  background: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 15px, rgba(245, 245, 245, 0.8) 15px, rgba(245, 245, 245, 0.8) 30px);
//
//  -webkit-filter: blur(20px);
//  -moz-filter: blur(20px);
//  -o-filter: blur(20px);
//  -ms-filter: blur(20px);
//  filter: blur(20px);
//  background-image: linear-gradient(
//    45deg, 
//    rgba(black, 0.1)  25%, 
//    transparent       25%, 
//    transparent       50%, 
//    rgba(black, 0.1)  50%, 
//    rgba(black, 0.1)  75%, 
//    transparent       75%, 
//    transparent
//  ); 
//  background-image: url('stripes-transp.gif');
//  background-repeat: repeat;
}

//#blur {
//  position: absolute;
//  top: 0px;
//  height: $navbar-height;
//  background-color: rgba(232, 232, 232, 1);
//  border: 3px black solid;
//  
//  -webkit-filter: blur(12px);
//  -moz-filter: blur(12px);
//  -o-filter: blur(12px);
//  -ms-filter: blur(12px);
//  filter: blur(12px);
//}

.navbar-brand {
  font-size: 78px;
  font-weight: 200;
}

.navbar-brand strong {
  font-weight: 500;
}

.navbar-brand:hover {
  text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}

a.navlink:hover:not(.navbar-brand) {
  font-weight: bold;
//  text-shadow: 2px 2px 8px rgba(150, 150, 150, 1);
}

#contact-div a {
  color: #ffffff;
}

footer {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 150px;
  background-color: #E8E8E8;
//  background-color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
  color: #000000;
  box-shadow: 0px 500px 0px 500px #E8E8E8;
  border-top: 2px rgba(255, 255, 255, 0.3) solid;
}

.footer-left {
  margin: 40px auto;
  float: left;
}

.footer-right {
  margin: 40px auto;
  float: right;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-color: #E8E8E8;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
//  background-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(143, 199, 163, 1);
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background-color: #E8E8E8;
}

#about-words {
  font-size: 36px;
}

a:hover {
  text-decoration: none;
}