// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about, #contact, #projects {
  display: block;
  margin: 0 auto;
  padding: 80px 180px;
  width: 100%;
  float: left;
}

#about {
  background-color: #63A57B;
  background-image: linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -o-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -moz-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -webkit-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -ms-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  color: #ffffff;
}

#projects {
  background-color: #E8E8E8;
  color: #000000;
}

#contact {
  background-color: #63A57B;
  background-image: linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -o-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -moz-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -webkit-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -ms-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  color: #ffffff;
}

#contact-div {
  float: left;
  width: 20%;
  border: 0px #000000 solid;
}

#project-container {
  height: 250px;
  border: 1px #000000 solid;
}

#project-container:hover {
  background-color: rgba(143, 199, 163, 0.4);
}