// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about, #about-content, #contact, #portfolio, #hireme {
  display: block;
  margin: 0 auto;
  padding: 80px 180px;
  width: 100%;
  float: left;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
}

#about {
  background-color: #63A57B;
  background-image: linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -o-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -moz-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -webkit-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -ms-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  color: #ffffff;
}

#tagline {
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
  text-align: left;
  font-size: 20px;
  margin-bottom: 6px;
}

#about-content {
  background-color: #5EABB5;
  padding: 80px 100px;
}

#specialties {
  border: 0px #ffffff solid;
  padding: 0 35px;
}

#interests {
  border: 0px #ffffff solid;
  padding: 0 35px;
}

span#interest-pair {
  white-space: nowrap;
}

#portfolio {
  background-color: #E8E8E8;
  color: #000000;
}

#project-container {
  height: 350px;
  width: 350px;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
  color: #ffffff;
}

#project-container:hover span.text-content {
//  background-color: rgba(143, 199, 163, 1);
  opacity: 1;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}

span.text-content {
  background: rgba(94, 171, 181, 0.9);
  color: white;
  display: table;
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 350px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}

h2#portfolio {
  font-weight: 200;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 48px;
}

.cpp {
  background-image: url('cpp-thumb.jpg');
}

.tj {
  background-image: url('tj-thumb.jpg');
}

.ast {
  background-image: url('ast-thumb.jpg');
}

.toh {
  background-image: url('toh-thumb.jpg');
}

.ttt {
  background-image: url('ttt-thumb.jpg');
}

.icf {
  background-image: url('icf-thumb.jpg');
}

.chess {
  background-image: url('chess-thumb.jpg');
}

.checkers {
  background-image: url('checkers-thumb.jpg');
}

.boggle {
  background-image: url('boggle-thumb.jpg');
}

.path {
  background-image: url('path-thumb.jpg');
}

.huffman {
  background-image: url('huffman-thumb.jpg');
}

.this-website {
  background-image: url('thisweb-thumb.jpg');
}

.bookcover {
  background-image: url('bookcover-thumb.jpg');
}

.dv8flyers {
  background-image: url('dv8flyers-thumb.jpg');
}

.small-pub {
  background-image: url('smallpub-thumb.jpg');
}

#hireme {
  background-color: #5EABB5;
  overflow: hidden;
}

#hireme h1 a {
  font-size: 75px;
  color: #ffffff;
}

#hireme h1 a:hover {
  font-size: 75px;
  color: #ffffff;
  opacity: 0.6;
}

#contact {
  background-color: #63A57B;
  background-image: linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -o-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -moz-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -webkit-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: -ms-linear-gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  background-image: gradient(right, rgba(143, 199, 163, 1) 11%, rgba(99, 165, 123, 1) 56%);
  color: #ffffff;
}

#contact-div {
  float: left;
  width: 20%;
  border: 0px #000000 solid;
  padding-bottom: 40px;
}

a i.fa:hover {
  opacity: 0.6;
}